:root {
  --f-size: 16px;
  --f-family: 'Catamaran';
  --c-four: #6CCAE1;
  --c-five: #27B7DB;
  --c-six: #1F8DA8;
  --c-seven: #114D5C;
  --c-eight: #99BAC7;
  --c-white: #ffffff;
  --c-black: #000000;  
  --c-nine: #7A7659;
}

$large: 992px
