.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--c-eight);
  text-align: center;

  &__img {
    width: 100%;
    max-height: 500px;
  }

  &__title {
    margin-bottom: 0;
    color: var(--c-white);
    font-size: 3rem;
    text-shadow: 1px 2px 3px var(--c-black);
  }
}
